{% load staticfiles %}
<!-- 这是使用bootstarp改进的base.html文件-->
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %} -Saint博客系统</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        .post{
            margin-bottom: 5px; <!--设置每个卡片下面的间隔-->
        }
    </style>
    {% block extra_head %}{% endblock %}<!--这个模块是使用代码高亮，在子模块完成-->
</head>
<body>
    <div class="container head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">首页</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContend">
                <ul class="navbar-nav mr-auto">
                    {% for cate in navs %}
                    <a href="{% url 'category_list' cate.id %}">{{ cate.name }}</a>
                    {% endfor %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET"> <!--指定提交数据的类型-->
                    <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="搜索" aria-label="搜索"
                        value="{{ keyword }}"><!--指定搜索输入的键和值-->
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
            </div>
        </nav>
        <hr />

        <div class="jumbotron">
            <h1 class="display-4">博客系统</h1>
            <p class="lead">基于Django的多人博客系统</p>
        </div>
    </div>
    <hr />
    <div class="container main">
        <div class="row">
            <div class="col-9 post-list">
                {% block main %}
                {% endblock %}
            </div>
            <div class="col-3">
            {% block sidebar %}
                {% for sidebar in sidebars %}
                    <div class="card sidebar">
                        <div class="card-body">
                            <h5 class="card-title"> {{ sidebar.title }}</h5>
                            <p class="card-text">
                                {{ sidebar.content_html }}<!--在这里直接渲染模板，使用模型的方法-->
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {%  endblock %}
            </div>
        </div>
    </div>

    <footer class="footer">
        {% block footer %}
        <div class="container">
            <hr />
            <nav class="nav category">
                {% for cate in categories %}
                    <a class="nav-link" href="{% url 'category_list' cate.id %}">{{ cate.name }}</a>
                {% endfor %}
                <a class="nav-link" href="{% url 'likes' %}">友情链接</a>
            </nav>
        </div>
        <div class="container ui-icon-power">
            <span class="text-muted">Power_by_saintzhao</span>
        </div>
        {% endblock %}
    </footer>

</body>
</html>