{% extends "./base.html" %}

{% load staticfiles %}

{% load comment_block %}   <!--加载标签-->

{% block title %}

{{ post.title }}

{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'highlight/styles/default.css' %}">
    <script src="{% static 'highlight/highlight.pack.js' %}"
    <script>hljs.initHighlightingOnLoad();</script>
{%  endblock %}

{% block main %}
{% if post %}
    <div class="card-title">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="card-body">
        <span class="card-link">分类:
            <a href="{% url 'category_list' post.category.id %}">{{ post.category.name }}</a>
        </span>
        <span class="card-link">作者:
            <a href="#">{{ post.owner.username }}</a>
        </span>
        {% for tag in post.tag.all %}
            <span class="card-link">标签:
                <a href="{% url 'tab_list' tag.id %}">{{ tag.name }}</a>
            </span>
        {% endfor %}
        <hr/>
        <p class="card-text">
            {% autoescape off %}
            {{ post.context_html }}
            {% endautoescape %}
        </p>
    </div>
    <hr/>
    {% comment_block request.path %}

{% endif %}
{% endblock %}
