<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %} -Saint博客系统</title>
</head>
<body>

    <div>
        顶部分类{% for cate in navs %}
        <a href="{% url 'category_list' cate.id %}">{{ cate.name }}</a>
        {% endfor %}
        <hr />
    </div>

    {% block main %}
    {% endblock %}


     <div>底部分类：
        {% for cate in categories %}
        <a href="{% url 'category_list' cate.id %}">{{ cate.name }}</a>
        {% endfor %}
    </div>

    <div>侧边栏展示：
        {% for sidebar in sidebars %}
            <h4>{{ sidebar.title }}</h4>
            {{ sidebar.content_html }}<!--在这里直接渲染模板，使用模型的方法-->
        {% endfor %}
    </div>

</body>
</html>